<h1>About - Otter</h1>
<p>Introducing Otter, a new platform to help you track how much time you spend online. Information is gathered using a Google Chrome extension, and then displayed on a beautiful and secure password-protected website. Know exactly how much time you spend on your desktop on the Internet. Use this information however you like, it’s yours to keep!</p>
<h3>Short History of Our Beginnings</h3>
<p>Internet companies often maintain a detailed understanding of our minds. Google knows what we search. Facebook, Twitter, Instagram, Snapchat, they know what interests us and with whom we interact. Amazon knows what we buy. YouTube and Netflix know what we watch. With this information, Internet companies can choose which information we see in order to entice us to use their platform more and more. Because of this, humans spend more and more time online. We don’t know how much time we spend online. Maybe if we knew, we could make more conscious choices about how we spent our time.</p>
<hr>
<p>See all of the code for our project on <a href="https://github.com/nyu-software-engineering/online-time-tracker/">GitHub</a>.</p>
