<hr>
    <div class="row" style="padding-top: 50px; padding-left:350px">

      <div class="col s3" style="padding-right: 50px">
        <!-- Promo Content 1 goes here -->

        <img src="clock.png" style="width: 100px; margin-left:50px">
        <br>
        <p>Otter is a brand new platform to help you track how much time you spend online. </p>
      </div>
      <div class="col s3" style="padding-right: 50px">
        <!-- Promo Content 2 goes here -->

        <img src="computer.png" style="width: 100px; margin-left:50px">
        <br>
        <p>Information is gathered using a Google Chrome extension, and then displayed on a beautiful and secure password-protected website.</p>
      </div>
      <div class="col s3" style="padding-right: 50px">
        <!-- Promo Content 3 goes here -->

        <img src="check.png" style="width: 100px; margin-left:50px">
        <p style="padding-top:27px">Know exactly how much time you spend on your desktop on the Internet. Use this information however you like, it’s yours to keep!</p>
      </div>

    </div>
    <hr>



<h1>About - Otter</h1>
<p>Introducing Otter, a new platform to help you track how much time you spend online. Information is gathered using a Google Chrome extension, and then displayed on a beautiful and secure password-protected website. Know exactly how much time you spend on your desktop on the Internet. Use this information however you like, it’s yours to keep!</p>
<h3>Short History of Our Beginnings</h3>
<p>Internet companies often maintain a detailed understanding of our minds. Google knows what we search. Facebook, Twitter, Instagram, Snapchat, they know what interests us and with whom we interact. Amazon knows what we buy. YouTube and Netflix know what we watch. With this information, Internet companies can choose which information we see in order to entice us to use their platform more and more. Because of this, humans spend more and more time online. We don’t know how much time we spend online. Maybe if we knew, we could make more conscious choices about how we spent our time.</p>
<hr>
<p>See all of the code for our project on <a href="https://github.com/nyu-software-engineering/online-time-tracker/">GitHub</a>.</p>


<div class="row">
    <!--login-profile-->

    <!--signin-form-->
    <div class="container col s3">
        <div class="signin-form profile">
            <h4>Login</h4>
            <div style="padding-bottom: 30px">
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username" required="">
                    <input type="password" name="password" placeholder="Password" required="">
                    <button class="waves-effect waves-light btn left">log in</button><br><br>
                </form>
            </div>


        </div>
    </div>
    <div class="container col s3">
        <h4>Register</h4>
        <div class="login-form">
            <form action="/signup" method="POST">
                <input type="text" name="first" placeholder="First Name" required="">
                <input type="text" name="last" placeholder="Last Name" required="">
                <input type="text" name="username" placeholder="Username" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <input type="password" name="password2" placeholder="Re-enter Password" required="">


                <!-- <input type="password" name="password" placeholder="Confirm Password" required=""> -->
                <button class="waves-effect waves-light btn left">register</button><br><br>
            </form>
        </div>

        <!--uncomment after we have set up our proper middleware-->
        {{#if errors}}
            <div class="container">
                <p style="color:red"> {{errors}} </p>
            </div>
        {{/if}}

        {{#if usertaken}}
            <div class="container">
                <p style="color:red"> {{usertaken}} </p>
            </div>
        {{/if}}

        {{#if success}}
            <div class="container">
                <p style="color:green"> {{success}} </p>
            </div>
        {{/if}}

    </div>


</div>
