<hr>
    <div class="row" style="padding-top: 50px; padding-left:350px; padding-bottom:200px">

      <div class="col s12" style="padding-right: 50px">
        <h1 style="font-family:avenir; margin-left:100px">Welcome to Otter!</h1>
      </div>


    </div>

<hr>
    <div class="row" style="padding-top: 50px; padding-left:350px">

      <div class="col s3" style="padding-right: 50px">
        <!-- Promo Content 1 goes here -->

        <img src="clock.png" style="width: 100px; margin-left:50px">
        <br>
        <p>Otter is a brand new platform to help you track how much time you spend online. </p>
      </div>
      <div class="col s3" style="padding-right: 50px">
        <!-- Promo Content 2 goes here -->

        <img src="computer.png" style="width: 100px; margin-left:50px">
        <br>
        <p>Information is gathered using a Google Chrome extension, and then displayed on a beautiful and secure password-protected website.</p>
      </div>
      <div class="col s3" style="padding-right: 50px">
        <!-- Promo Content 3 goes here -->

        <img src="check.png" style="width: 100px; margin-left:50px">
        <p style="padding-top:27px">Know exactly how much time you spend on your desktop on the Internet. Use this information however you like, it’s yours to keep!</p>
      </div>

    </div>
    <hr>


        <div class="row" style="padding-top: 50px; padding-left:350px; padding-bottom:200px">

          <div class="col s12" style="padding-right: 50px">
            <h1 style="font-family:avenir; margin-left:0px">Why do you need Otter?</h1>
          </div>

        </div>

        <hr>
            <div class="row" style="padding-top: 50px; padding-left:100px">

              <div class="col s3" style="padding-right: 50px">
                <!-- Promo Content 1 goes here -->

                <img src="cloud.png" style="width: 100px; margin-left:50px">
                <br>
                <p>Internet companies often maintain a detailed understanding of our minds. </p>
              </div>
              <div class="col s3" style="padding-right: 50px">
                <!-- Promo Content 2 goes here -->

                <img src="smart.png" style="width: 100px; margin-left:50px">
                <br>
                <p>Facebook knows what interests us and with whom we interact. Amazon knows what we buy. YouTube and Netflix know what we watch.</p>
              </div>
              <div class="col s3" style="padding-right: 50px">
                <!-- Promo Content 3 goes here -->

                <img src="marketing.png" style="width: 100px; margin-left:50px">
                <p style="padding-top:27px">With this information, Internet companies can choose which information we see in order to entice us to use their platform more and more.</p>
              </div>

              <div class="col s3" style="padding-right: 50px">
                <!-- Promo Content 2 goes here -->

                <img src="data.png" style="width: 100px; margin-left:50px">
                <br>
                <p>If we had personal metrics on our online footprints, we would be more conscious on our actions and what we are doing online.
                </p>
              </div>

            </div>

<hr>


<div class="row" style="padding-left:35%">
    <!--login-profile-->

    <!--signin-form-->
    <div class="container col s3">
        <div class="signin-form profile">
            <h4>Login</h4>
            <div style="padding-bottom: 30px">
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username" required="">
                    <input type="password" name="password" placeholder="Password" required="">
                    <button class="waves-effect waves-light btn left">log in</button><br><br>
                </form>
            </div>


        </div>
    </div>
    <div class="container col s3">
        <h4>Register</h4>
        <div class="login-form">
            <form action="/signup" method="POST">
                <input type="text" name="first" placeholder="First Name" required="">
                <input type="text" name="last" placeholder="Last Name" required="">
                <input type="text" name="username" placeholder="Username" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <input type="password" name="password2" placeholder="Re-enter Password" required="">


                <!-- <input type="password" name="password" placeholder="Confirm Password" required=""> -->
                <button class="waves-effect waves-light btn left">register</button><br><br>
            </form>
        </div>

        <!--uncomment after we have set up our proper middleware-->
        {{#if errors}}
            <div class="container">
                <p style="color:red"> {{errors}} </p>
            </div>
        {{/if}}

        {{#if usertaken}}
            <div class="container">
                <p style="color:red"> {{usertaken}} </p>
            </div>
        {{/if}}

        {{#if success}}
            <div class="container">
                <p style="color:green"> {{success}} </p>
            </div>
        {{/if}}

    </div>


</div>
