<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        var user;
        $("#loginbtn").on("click", function() {

            var email = $("#txtEmail").val();
            var pass = $("#txtPassword").val();
            $.ajax({
                type: "POST",
                url: "http://localhost:3000/login",
                data: {
                    email: email,
                    password: pass
                },
                success: function(response) {
                    console.log("success")
                    $('#login').hide();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
            })
            console.log(email, pass)
           
        });
        $("#signup").click(function() {
            var email = $("#txtEmail").val();
            var pass = $("#txtPassword").val();

            $.post("http://localhost:3000/signup", { email: email, password: pass }, function(data) {
                if (data === 'done') {
                    alert("login success");
                }
                $('#login').hide();
            });
        });


    });
    </script>
</head>
<div id='alert'></div>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="images/o.png"></a>
        <ul class="right hide-on-med-and-down">
            {{#if user}}
            <li><a href="/">Home</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/">Home</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/logout">Logout</a></li>
            {{/if}}
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div id="index-banner" class="parallax-container col s8">
    <div class="section no-pad-bot ">
        <div class="container ">
            <br>
            <br>
            <h1 class="header center white-text text-lighten-2">Welcome to Otter</h1>
            <div class="row center">
                <h5 class="header col s12 light">A modern, simple Google Chrome Extension to track your time spent online</h5>
            </div>
            <div class="row center">
                <a href="/download" id="download-button" class="btn-large waves-effect waves-light black lighten-1">See Extension</a>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="background/Elegant_Background-13.jpg" alt="Unsplashed background img 13"></div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center pink-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Instant data</h5>
                    <p class="light">Information is gathered using a Google Chrome extension, and then displayed on a beautiful and secure password-protected website.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center pink-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>
                    <p class="light">Know exactly how much time you spend on your desktop on the Internet. Use this information however you like, it’s yours to keep!</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center pink-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>
                    <p class="light">We have created a beautiful tool to help you easily understand your internet analtyical footprint.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Control your online time consumption</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="background/Elegant_Background-16.jpg" alt="Unsplashed background img 16"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Short History of Our Beginnings</h4>
                <p class="left-align light">Internet companies often maintain a detailed understanding of our minds. Google knows what we search. Facebook, Twitter, Instagram, Snapchat, they know what interests us and with whom we interact. Amazon knows what we buy. YouTube and Netflix know what we watch. With this information, Internet companies can choose which information we see in order to entice us to use their platform more and more. Because of this, humans spend more and more time online. We don’t know how much time we spend online. Maybe if we knew, we could make more conscious choices about how we spent our time.</p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">In today's age, we spend more time online than ever before.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="background/Elegant_Background-6.jpg" alt="Unsplashed background img 6"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <div class="row center">
                    <h5 class="header col s12 light">Let Otter take care of you. Log in or register below.</h5>
                </div>
                <div id="login">
                    <form action="login">
                        <label for="email">Email:</label>
                        <input id="txtEmail" type="email" name="email" value="" placeholder="Email">
                        <label for="password">Password:</label>
                        <input id='txtPassword' type="password" name="password" value="" placeholder="Password">
                        <button class="waves-effect waves-light btn pink " id="loginbtn">Log in</button>
                        <button class="waves-effect waves-light btn green " id="signup">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer pink">
    <div class="center" style="padding-bottom: 20px">
        <h5 class="light center"></h5>
    </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>