<html>

<head>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyA52JSq5mXVIpTaE1KxnJ4bNUJ1P6EDcgw",
        authDomain: "ott-se-738b0.firebaseapp.com",
        databaseURL: "https://ott-se-738b0.firebaseio.com",
        projectId: "ott-se-738b0",
        storageBucket: "ott-se-738b0.appspot.com",
        messagingSenderId: "57707341948"
    };
    firebase.initializeApp(config);
    </script>
</head>
<label for="email">Email:</label>
<input id="txtEmail" type="email" placeholder="Email">
<label for="password">Password:</label>
<input id='txtPassword' type="password" name="password" value="">
<button id="btnLogin" class="btn btn-action"> login </button>
<button id="btnSignup" class="btn btn-secondary"> sign up </button>
<button id="btnLogout" class="btn btn-action"> log out </button>
<html>